* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

#header {
    padding: 1.3rem 0;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;

    .left {
        a {
            margin-right: 40px;
            font-size: 13.4px;
            color: #000;
            transition: .6s;

            &:hover {
                color: #f5a637;
            }
        }
    }

    .center {
        a {
            margin-left: 150px;
            font-size: 30px;
            font-style: italic;
            color: #000;
        }
    }

    .right {
        a {
            margin-right: 40px;
            font-size: 13.4px;
            color: #000;
            transition: .6s;

            &:hover {
                color: #f5a637;
            }
        }
    }
}

#phone-header {

    padding: 40px 20px;
    font-size: 17px;
    display: none;

    .left {
        a {


            color: #000;
            font-size: 30px;
            font-style: italic;
        }
    }

    a {


        i {
            color: #000;
            font-size: 24px;
        }
    }
}

@media(max-width: 576px) {
    #header {
        display: none;
    }

    #phone-header {
        display: block;
    }

    #home {
        img {
            width: 100%;
        }

        .text {
            width: 100%;
        }

    }

    #always {
        p {
            font-size: 10px;
        }
    }
}

@media(max-width: 990px) {
    #header {
        display: none;
    }

    #phone-header {
        display: block;
    }

    #home {
        img {
            width: 100%;
        }
    }
}

#home {
    padding: 5rem 0;
    background-image: url(https://yevgenysim-turkey.github.io/touche/assets/img/1.jpg);
    background-position: center;
    background-size: cover;
    width: 99%;
    height: 800px;
    background-attachment: fixed;
    filter: brightness(.8);

    .text {
        padding: 8rem;
        color: #fff;
        font-size: 17px;

        h2 {
            margin-top: 30px;
            font-size: 60px;

        }

        p {
            margin-top: 30px;
            margin-bottom: 50px;
        }

        a {
            padding: 20px 40px;
            color: #fff;
            border: 1px solid #f5a637;
            font-size: 13px;
            transition: .6s;

            &:hover {
                color: #f5a637;
            }
        }
    }

    .bottom {

        .icon {

            a {
                margin-right: 20px;
                font-size: 17px;
                color: #fff;
                transition: .6s;

                &:hover {
                    color: #f5a637;
                }
            }
        }

        .txt {

            i {
                margin-right: 15px;
                color: #f5a637;
                font-size: 18px;
            }

            span {
                color: #fff;
            }
        }
    }
}

#always {
    padding: 5rem 0;

    .take {
        hr {
            width: 20%;
            height: 3px;
            background-color: #f5a637;
            border: 0;
            color: #e9ecef;
            margin: 1rem 0;
            opacity: 1;

        }
    }

    .img {
        img {
            width: 250px;
            height: 370px;

        }
    }

    .last {

        span {
            font-style: italic;
            font-size: 22px;
        }

        h5 {
            font-size: 22px;
        }

        p {
            color: rgb(103, 103, 103);
            font-size: 18px;
            margin-top: 12px;
        }
    }
}

#beautiful {
    padding: 4rem 0;

    span {
        font-style: italic;
        font-size: 22px;
    }

    h5 {
        font-size: 22px;
    }

    p {
        color: rgb(103, 103, 103);
        font-size: 18px;
        margin-top: 12px;
    }

    .txt {
        margin-top: 298px;
        margin-right: 20px;

        hr {

            width: 18%;
            height: 3px;
            background-color: #f5a637;
            border: 0;
            color: #e9ecef;
            margin: 1rem 0;
            opacity: 1;

        }

        span {
            font-style: normal;
            font-size: 18px;
        }
    }

    .img {
        img {
            width: 280px;
            height: 400px;
        }
    }
}

#enjoy {
    padding: 2rem 0;
    background-image: url(https://yevgenysim-turkey.github.io/touche/assets/img/19.jpg);
    background-position: center;
    background-size: cover;
    width: 99%;
    height: 600px;
    background-attachment: fixed;
    overflow: hidden;

    .text {
        margin-left: 50px;

        hr {

            width: 3%;
            height: 3px;
            background-color: #f5a637;
            border: 0;
            color: #e9ecef;
            margin: 1rem 0;
            opacity: 1;

        }
    }
}

#menu {
    padding: 5rem 0;

    .top {
        h5 {
            font-size: 26px;
        }

        p {
            color: rgb(103, 103, 103);
            font-size: 15px;
            margin-top: 12px;
        }
    }

    .bottom {
        margin-left: 40%;

        .mains {
            a {
                color: #000;
                font-size: 14px;
                font-weight: 550;
                margin-right: 20px;
                position: relative;

                &:hover {
                    &::before {

                        transform: scale(1);
                    }
                }

                &::before {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    top: 25px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #f5a637;
                    transition: .6s;
                    transform: scale(0);
                }
            }
        }

        .main {

            a {
                margin-right: 20px;
                font-size: 14px;
                color: rgb(103, 103, 103);
                font-weight: 550;
                transition: .6s;

                &:hover {
                    color: #000;
                }
            }
        }
    }

    #last {
        align-items: center;
        margin-top: 40px;

        .img {
            img {
                width: 110px;
                height: 110px;
                margin-right: 20px;
            }
        }

        .text {
            margin-left: 20px;
            margin-right: 20px;

            p {
                color: rgb(103, 103, 103);
                font-size: 15px;
                margin-top: 12px;
            }
        }

        .span {
            span {
                font-size: 20px;
            }
        }
    }
}

#our {
    padding: 4rem 0;

    .top {
        h5 {
            font-size: 22px;
        }

        p {
            color: rgb(103, 103, 103);
            font-size: 18px;
            margin-top: 12px;
        }
    }

    .bottom {
        margin-top: 50px;

        .box {

            .img {
                img {
                    width: 310px;
                    height: 190px;
                }
            }

            .bottom {

                margin-top: 20px;

                .txt {
                    margin-left: 20px;
                    margin-right: 20px;
                }

                .text {
                    span {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

#what {
    padding: 5rem 0;

    .top {
        h5 {
            font-size: 30px;
        }

        p {
            color: rgb(103, 103, 103);
            font-size: 18px;
            margin-top: 12px;
        }
    }

    .bottom {
        margin-top: 40px;

        .icon1 {
            margin-right: 40px;

            a {
                i {
                    padding: 15px 20px;
                    border-radius: 100%;
                    background-color: rgb(199, 199, 199);
                    color: #000;
                    transition: .6s;

                    &:hover {
                        background-color: #f5a637;
                        color: #fff;
                    }
                }
            }
        }

        .text {
            margin-right: 40px;

            span {
                color: rgb(103, 103, 103);
                font-size: 14px;
                margin-top: 12px;
                font-weight: 600;
                text-align: left;
            }
        }

        .img {
            margin-right: 30px;

            img {
                width: 200px;
                height: 200px;
                border-radius: 100%;
            }
        }

        .icon2 {
            margin-right: 40px;

            a {
                i {
                    padding: 15px 20px;
                    border-radius: 100%;
                    background-color: rgb(199, 199, 199);
                    color: #000;
                    transition: .6s;

                    &:hover {
                        background-color: #f5a637;
                        color: #fff;
                    }
                }
            }
        }
    }
}

#event {
    padding: 3rem 0;

    .top {
        h5 {
            font-size: 30px;
        }

        p {
            color: rgb(103, 103, 103);
            font-size: 18px;
            margin-top: 12px;
        }
    }

    .bottom {
        padding: 14rem 0;
        background-position: center;
        background-size: cover;
        background-image: url(https://yevgenysim-turkey.github.io/touche/assets/img/8.jpg);

        p {
            font-size: 25px;
            color: #fff;
            margin-top: 10px;
        }

        .A {
            margin-top: 50px;

            a {
                padding: 20px 40px;
                color: #fff;
                border: 1px solid #f5a637;
                font-size: 13px;
                transition: .6s;

                &:hover {
                    color: #f5a637;
                }
            }
        }
    }
}